In [132]:
import pandas as pd
import numpy as np

In [133]:
linear_data = pd.read_csv('../results/train/linear_PolicyModel/full_data/base_case/train_results.csv', index_col=0)
non_linear_data = pd.read_csv('../results/train/non_linear_PolicyModel/full_data/base_case/train_results.csv', index_col=0)
only_DA_data = pd.read_csv('../results/train/only_DA_non_linear_PolicyModel/full_data/base_case/train_results.csv', index_col=0)


interesting_columns = ['date', 'energy_RE', 'consumption_electrolyzer', 'hydrogen_output', 'volume_DA', 'lambda_DA_RE', 'DA_revenue', 'hydrogen_revenue', 'volume_IM', 'lambda_IM', 'IM_revenue']
linear_data[interesting_columns]

,date,energy_RE,consumption_electrolyzer,hydrogen_output,volume_DA,lambda_DA_RE,DA_revenue,hydrogen_revenue,volume_IM,lambda_IM,IM_revenue
0,2019-01-01,9.95098,10.000000,154.413371,-10.000000,28.32,-283.200000,347.430085,9.950980,28.320812,281.819834
1,2019-01-01,10.00000,10.000000,154.413371,-10.000000,10.07,-100.700000,347.430085,10.000000,10.070575,100.705750
2,2019-01-01,10.00000,10.000000,154.413371,-10.000000,-4.08,40.800000,347.430085,-20.000000,-4.080458,81.609160
3,2019-01-01,9.95098,10.000000,154.413371,-7.841860,-9.91,77.712834,347.430085,-20.000000,-9.909874,198.197480
4,2019-01-01,10.00000,10.000000,154.413371,-10.000000,-7.41,74.100000,347.430085,-20.000000,-7.409639,148.192780
...,...,...,...,...,...,...,...,...,...,...,...
8707,2019-12-31,3.67647,2.823150,49.139234,-8.957954,33.85,-303.226751,110.563277,9.811274,50.347404,493.972184
8708,2019-12-31,2.84314,5.588339,89.700599,-10.000000,33.54,-335.400000,201.826347,7.254801,34.480637,250.150176
8709,2019-12-31,3.28431,8.713316,135.539559,-2.828224,33.17,-93.812201,304.964007,-2.600782,33.998688,-88.423174
8710,2019-12-31,2.59804,3.825263,63.838799,-9.501171,33.04,-313.918684,143.637297,8.273948,34.998730,289.577667
8711,2019-12-31,3.62745,10.000000,154.413371,-4.729584,30.83,-145.813088,347.430085,-1.642966,34.998730,-57.501709

In [134]:
linear_data.columns

Index(['lambda_DA_RE', 'lambda_DA_FC', 'energy_RE', 'energy_FC',
       'Offshore DK2', 'Offshore DK1', 'Onshore DK2', 'Onshore DK1',
       'lambda_IM', 'datetime', 'date', 'lambda_DA_FC_normalized',
       'lambda_DA_FC_zeta_10_mu_0.0', 'lambda_DA_FC_zeta_10_mu_1.0',
       'energy_FC_zeta_10_mu_0.0', 'energy_FC_zeta_10_mu_1.0', 'intercept',
       'volume_DA', 'curtailment', 'volume_IM', 'electrolyzer_on',
       'electrolyzer_off', 'electrolyzer_standby', 'electrolyzer_cold_start',
       'consumption_electrolyzer', 'intended_consumed_electricity',
       'hydrogen_output', 'DA_revenue', 'IM_revenue', 'hydrogen_revenue',
       'revenue', 'absolute_IM_volume'],
      dtype='object')

In [135]:
non_linear_data = pd.read_csv('../results/train/non_linear_PolicyModel/full_data/base_case/train_results.csv', index_col=0)

non_linear_data[interesting_columns]

,date,energy_RE,consumption_electrolyzer,hydrogen_output,volume_DA,lambda_DA_RE,DA_revenue,hydrogen_revenue,volume_IM,lambda_IM,IM_revenue
0,2019-01-01,9.95098,10.000000,154.413371,-10.000000,28.32,-283.200000,347.430085,9.950980,28.320812,281.819834
1,2019-01-01,10.00000,10.000000,154.413371,-10.000000,10.07,-100.700000,347.430085,10.000000,10.070575,100.705750
2,2019-01-01,10.00000,10.000000,154.413371,-10.000000,-4.08,40.800000,347.430085,-20.000000,-4.080458,81.609160
3,2019-01-01,9.95098,10.000000,154.413371,-8.156796,-9.91,80.833849,347.430085,-20.000000,-9.909874,198.197480
4,2019-01-01,10.00000,10.000000,154.413371,-10.000000,-7.41,74.100000,347.430085,-20.000000,-7.409639,148.192780
...,...,...,...,...,...,...,...,...,...,...,...
8707,2019-12-31,3.67647,3.102413,53.235618,-8.099227,33.85,-274.158826,119.780140,8.673284,50.347404,436.677337
8708,2019-12-31,2.84314,7.678817,120.364929,-10.000000,33.54,-335.400000,270.821091,5.164323,34.480637,178.069153
8709,2019-12-31,3.28431,5.969253,95.288071,-9.912058,33.17,-328.782958,214.398159,7.227115,33.998688,245.712420
8710,2019-12-31,2.59804,3.186839,54.474024,-9.126780,33.04,-301.548795,122.566554,8.537981,34.998730,298.818492
8711,2019-12-31,3.62745,10.000000,154.413371,-5.786976,30.83,-178.412456,347.430085,-0.585574,34.998730,-20.494363

In [136]:
only_DA_data = pd.read_csv('../results/train/only_DA_non_linear_PolicyModel/full_data/base_case/train_results.csv', index_col=0)

only_DA_data[interesting_columns]

,date,energy_RE,consumption_electrolyzer,hydrogen_output,volume_DA,lambda_DA_RE,DA_revenue,hydrogen_revenue,volume_IM,lambda_IM,IM_revenue
0,2019-01-01,9.95098,10.00000,154.413371,-10.000000,28.32,-283.200000,347.430085,9.950980,28.320812,281.819834
1,2019-01-01,10.00000,10.00000,154.413371,-10.000000,10.07,-100.700000,347.430085,10.000000,10.070575,100.705750
2,2019-01-01,10.00000,10.00000,154.413371,-10.000000,-4.08,40.800000,347.430085,-20.000000,-4.080458,81.609160
3,2019-01-01,9.95098,10.00000,154.413371,-8.439689,-9.91,83.637319,347.430085,-20.000000,-9.909874,198.197480
4,2019-01-01,10.00000,10.00000,154.413371,-10.000000,-7.41,74.100000,347.430085,-20.000000,-7.409639,148.192780
...,...,...,...,...,...,...,...,...,...,...,...
8707,2019-12-31,3.67647,5.64630,90.550813,-6.304404,33.85,-213.404078,203.739329,4.334574,50.347404,218.234545
8708,2019-12-31,2.84314,10.00000,154.413371,-10.000000,33.54,-335.400000,347.430085,2.843140,34.480637,98.033278
8709,2019-12-31,3.28431,4.32315,71.142091,-4.937848,33.17,-163.788413,160.069706,3.899008,33.998688,132.561149
8710,2019-12-31,2.59804,5.64630,90.550813,-9.100178,33.04,-300.669893,203.739329,6.051918,34.998730,211.809451
8711,2019-12-31,3.62745,10.00000,154.413371,-5.873016,30.83,-181.065079,347.430085,-0.499534,34.998730,-17.483054

In [137]:
hindsight_data = pd.read_csv('../results/train/HindsightModel/full_data/base_case/train_results.csv', index_col=0)
hindsight_data[interesting_columns]

,date,energy_RE,consumption_electrolyzer,hydrogen_output,volume_DA,lambda_DA_RE,DA_revenue,hydrogen_revenue,volume_IM,lambda_IM,IM_revenue
0,2019-01-01,9.95098,10.00000,154.413371,-10.0,28.32,-283.2,347.430085,9.95098,28.320812,281.819834
1,2019-01-01,10.00000,10.00000,154.413371,-10.0,10.07,-100.7,347.430085,10.00000,10.070575,100.705750
2,2019-01-01,10.00000,10.00000,154.413371,-10.0,-4.08,40.8,347.430085,-20.00000,-4.080458,81.609160
3,2019-01-01,9.95098,10.00000,154.413371,-10.0,-9.91,99.1,347.430085,-20.00000,-9.909874,198.197480
4,2019-01-01,10.00000,10.00000,154.413371,-10.0,-7.41,74.1,347.430085,-20.00000,-7.409639,148.192780
...,...,...,...,...,...,...,...,...,...,...,...
8707,2019-12-31,3.67647,1.50000,24.544595,-10.0,33.85,-338.5,55.225339,12.17647,50.347404,613.053654
8708,2019-12-31,2.84314,2.82315,49.139234,-10.0,33.54,-335.4,110.563277,10.01999,34.480637,345.495635
8709,2019-12-31,3.28431,2.82315,49.139234,-10.0,33.17,-331.7,110.563277,10.46116,33.998688,355.665712
8710,2019-12-31,2.59804,2.82315,49.139234,-10.0,33.04,-330.4,110.563277,9.77489,34.998730,342.108733
8711,2019-12-31,3.62745,2.82315,49.139234,-10.0,30.83,-308.3,110.563277,10.80430,34.998730,378.136776

In [143]:
comparison_table = pd.DataFrame(index=linear_data.index, columns=['linear', 'non_linear', 'only_DA', 'hindsight'])
comparison_table['linear'] = linear_data['consumption_electrolyzer']
comparison_table['non_linear'] = non_linear_data['consumption_electrolyzer']
comparison_table['only_DA'] = only_DA_data['consumption_electrolyzer']
comparison_table['hindsight'] = hindsight_data['consumption_electrolyzer']
comparison_table['lambda_DA_RE'] = hindsight_data['lambda_DA_RE']

comparison_table['min_price'] = np.minimum(hindsight_data['lambda_DA_RE'], hindsight_data['lambda_IM'])

comparison_table['linear_H_cost'] = comparison_table['linear'] * comparison_table['min_price']
comparison_table['non_linear_H_cost'] = comparison_table['non_linear'] * comparison_table['min_price']
comparison_table['only_DA_H_cost'] = comparison_table['only_DA'] * comparison_table['lambda_DA_RE']
comparison_table['hindsight_H_cost'] = comparison_table['hindsight'] * comparison_table['min_price']

comparison_table['linear_H_revenue'] = linear_data['hydrogen_revenue']
comparison_table['non_linear_H_revenue'] = non_linear_data['hydrogen_revenue']
comparison_table['only_DA_H_revenue'] = only_DA_data['hydrogen_revenue']
comparison_table['hindsight_H_revenue'] = hindsight_data['hydrogen_revenue']

comparison_table['linear_H_profit'] = comparison_table['linear_H_revenue'] - comparison_table['linear_H_cost']
comparison_table['non_linear_H_profit'] = comparison_table['non_linear_H_revenue'] - comparison_table['non_linear_H_cost']
comparison_table['only_DA_H_profit'] = comparison_table['only_DA_H_revenue'] - comparison_table['only_DA_H_cost']
comparison_table['hindsight_H_profit'] = comparison_table['hindsight_H_revenue'] - comparison_table['hindsight_H_cost']

comparison_table['linear_difference'] = abs(comparison_table['linear'] - comparison_table['hindsight'])
comparison_table['non_linear_difference'] = abs(comparison_table['non_linear'] - comparison_table['hindsight'])
comparison_table['only_DA_difference'] = abs(comparison_table['only_DA'] - comparison_table['hindsight'])

comparison_table.sum()

linear                   5.947823e+04
non_linear               5.901180e+04
only_DA                  6.246958e+04
hindsight                5.821264e+04
lambda_DA_RE             3.476124e+05
min_price                3.151805e+05
linear_H_cost            1.976843e+06
non_linear_H_cost        1.962406e+06
only_DA_H_cost           2.287110e+06
hindsight_H_cost         1.893399e+06
linear_H_revenue         2.110341e+06
non_linear_H_revenue     2.094570e+06
only_DA_H_revenue        2.206076e+06
hindsight_H_revenue      2.062989e+06
linear_H_profit          1.334983e+05
non_linear_H_profit      1.321639e+05
only_DA_H_profit        -8.103410e+04
hindsight_H_profit       1.695898e+05
linear_difference        2.100906e+04
non_linear_difference    2.098670e+04
only_DA_difference       2.245894e+04
dtype: float64